{% load static %}


{#<link href="{% static 'css/single_image_upload.css' %}" rel="stylesheet" type="text/css" />#}
{#<script src="{% static "js/single_image_upload.js" %}" type="text/javascript"></script>#}
<div class="fileupload">


    {% if file  %}
        <img id="close_btn" onclick="dropimg()" src="{% static 'images/close_btn.png'%}" >
        <img  id="{{ name }}" src="{{ file }}"  width="120px"; height="120px";>

    {% else %}
         <img id="close_btn" onclick="dropimg()" src="{% static 'images/close_btn.png'%}" hidden="false">
        <img  id="{{ name }}" src="{% static 'images/file_add_btn.png' %}" width="120px"; height="120px">
    {% endif %}



{# accept="image/*"#}
    <input type="file" {% if id_key %} id="{{ id_key }}" {% endif %} name="{{ name }}" onchange="{{ method }}"/>


</div>


<script>

    function dropimg(){
        document.getElementById("close_btn").hidden = true;

        var file = document.getElementById("{{ id_key }}").files[0];
        file = null;




        var img = document.getElementById("{{ name }}");
        img.src = "{% static 'images/file_add_btn.png' %}";
    }

    function {{ method }} {
    if (typeof FileReader === 'undefined') {
        alert('Your browser does not support FileReader...');
        return;
    }
    var reader = new FileReader();
    reader.onload = function(e) {
        var img = document.getElementById("{{ name }}");
        img.src = this.result;

        var btn = document.getElementById("close_btn");
        btn.hidden = false;


    }
    var file = document.getElementById("{{ id_key }}").files[0];
    reader.readAsDataURL(file);
}

</script>